@import './reset.scss';
@import './base.scss';

//Fonts 
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600');


//General CSS
.App {
  font-family: 'Signika', sans-serif;
}
//Nav
.header {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
}

.logo {
  font-size: 4.5rem;
  font-family: 'Cookie', cursive;
}

//Upload Files
.upload-files {
  width: 100vw;
  height: 100vh;
  background:linear-gradient(0deg,rgba(0,0,0,0.6   ),rgba(0,0,0,0.6)),url(../images/malte-wingen-381988-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.input-container {
  background-color: #0abde3;
  position: relative;
  color: #000;
}

.select-files {
  position: absolute;
  width: 100%;
  top : 0;
  left : 0;
  bottom : 0;
  right : 0;
  opacity: 0;
  cursor: pointer;
}

.submit-btn {
  background-color: #ee5253;
  color: #fff;
  font-weight: 300;
}